@import url('https://fonts.googleapis.com/css?family=Sigmar+One:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');


header {
  margin: 0;
}



/*---------------------------------------Colors--------------*/
.navbar-expand-lg {
  background-color: #4d8384;
}
.navbar-nav .nav-link.home {
  color: #830118;

}

.navbar-nav .nav-link.gallery {
  color: #ff841f;
}

.navbar-nav .nav-link.music {
  color: #5b2b84;
}

.navbar-nav .nav-link.contact {
  color: #c7cc28;
}
.btn-link {
  color: #e1ae0f;
}
h4.contact {
  color:#24769e;
}
h5.contact {
  color:#ff841f; 
}
.fa-calendar-check,.fa-globe-americas,.fa-music {
  color: #24769e;
  }
.gallery-content-p{
  color:#24769e; 
}
.download-img {
  color: #24769e;
}
.fa-arrow-circle-down {
  color: #133c3d;
  
}

/*---------------------------------------Special Paddings/Margins/Text-------------*/
.container-fluid.home.gallery.music.contact{
}

.fa-calendar-check,.fa-globe-americas,.fa-music{
  font-size: 30px;
}
.fa-arrow-circle-down {
  font-size: 20px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Sigmar One', sans-serif;
  color: #133c3d;
}
/*-------Header--------------------------------Navigation Bar------*/

.navbar-toggler {
  padding: 4px 12px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  border: 4px solid transparent;
  border-radius: 4px;
}

.navbar-toggler:hover {
  background-color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;

}
.d-inline-block-logo {
  transition: width 1s, height 1s; 
  -webkit-transition: width 1s, height 1s;
}
.d-inline-block-logo:hover {
  width: 260px;
  height: 110px;
  
}
.nav-link {
  font-family: 'Sigmar One', sans-serif;
  font-size: 30px;
  font-weight: 200;

}
.nav-link:hover {
  color: #d5d8ea !important;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


.btn-link {
  text-decoration: none !important;
  font-family: 'Sigmar One', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.btn-link:hover {
  text-decoration: none;
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.image-content {

  background: url('../images/collage01.jpg');
  background-repeat: repeat-x;
  width: 100%;
  height: 370px;
  padding: 0;
  margin:0;
  }

/*---------------------------------------Section Home--------*/

.container-fluid.home{
  margin: auto;
}
.side-content {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-content {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f4f4f4;
}

.side-content p {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-top: 4px;
}

.about-content p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding: 4px;
}

.side-content a {
  text-decoration: none!important;
  color: #24769e;
  font-size: 25px;
  font-weight: 700;
}

.side-content a:hover {
  color: #7bacc4;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.about-content a {
  text-decoration: none!important;

}




/*-------------------------------------------------Footer------*/

.container-fluid.footer {
  background-color: #4d8384;

}


.btn-link.footer {
  font-size: 30px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: auto;
  border-top: 0;
  text-align: center;
}

.text-uppercase.footer {
  font-family: 'Sigmar One', sans-serif;
  color: #133c3d;
  font-size: 20px;
  font-weight: 100;
  text-align: left;

  margin-top: 17px;
  margin-bottom: auto;
}

.fab {
  color:  #e1ae0f;
  font-size: 40px;
  text-align: left;

  margin-top: 17px;
  margin-bottom: auto;
  margin-left: 10px;
}

.fab:hover {
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}





/*-------------------------------------------------------------Modal-------*/

.modal-dialog {
  border: 3px solid #2b3688;
  border-radius: 5px;

  padding: 5px;
  background-color: #ebf3f8;
}

.modal-content {
  background-color: #ebf3f8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}
/*---------------------------------------Section Gallery--------*/

.container-fluid.gallery {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #133c3d;
  border-radius: 0.25rem;
  height: 270px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
  }
.img-thumbnail.top-row {
  height: 220px;
}
.gallery-content-p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  
  padding-top: 4px;
}
.gallery-content{
  margin-bottom: 20px;
}
.fa-arrow-circle-down {
  color: #133c3d;
  font-size: 25px;
}

.fas:hover {
  color: #4d8384;
}

/*-----------------------------------------------Section Music---*/

.container-fluid.music {
 margin: 0;
}

.side-content-music {
 border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.music-content {
border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rounded-circle {
  animation-play-state: paused;

}

.rounded-circle:hover {
  animation-play-state: running;
  animation: spin 7s infinite linear;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation: spin 7s infinite linear;
  -moz-animation: spin 7s infinite linear;
  -o-animation: spin 7s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.timeline-content p{
  
}




/*-------------------------------------------------Section Contact----*/
.container-fluid.contact {
  margin: 0
}

.side-content-contact{
border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-content {

  border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  padding-top: 4px;
}

