@import url('https://fonts.googleapis.com/css?family=Sigmar+One:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');


header {
  margin: 0;
}

/*---------------------------------------Header--------------*/

/*---------------------------------------Navigation Bar------*/

.navbar-toggler {
  padding: 5px;
  background-color: #214f6a;
  border: 2px solid;
  border-radius: 5px;
}

.navbar-toggler:hover {
  background-color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;

}

.navbar-brand:hover {
  background-color: #3d7291;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}



.navbar-expand-lg {
  background-color: #4d8384;

}


.nav-item {
  font-family: 'Sigmar One', sans-serif;
  color: #1f3c40;
  font-size: 30px;
  font-weight: 200;

}

.navbar-nav .nav-link.home {
  color: #830118;

}

.navbar-nav .nav-link.gallery {
  color: #ff841f;
}

.navbar-nav .nav-link.music {
  color: #5b2b84;
}

.navbar-nav .nav-link.contact {
  color: #c7cc28;
}

.nav-link:hover {
  color: #d5d8ea !important;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


.btn-link {
  text-decoration: none !important;
  font-family: 'Sigmar One', sans-serif;
  color: #e1ae0f;
  font-size: 25px;
  font-weight: 300;
}

.btn-link:hover {
  text-decoration: none;
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.header-image-contain {

  background: url('/assets/images/collage01.jpg');
  background-repeat: repeat-x;
  width: 100%;
  height: 370px;
  padding: 0;

  margin-right: 0;
  margin-left: 0;
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;

}

/*---------------------------------------Section Home--------*/

.side-content {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-content {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f4f4f4;
}

.side-content p {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-top: 4px;
}

.about-content p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding: 4px;
}

.side-content a {
  text-decoration: none!important;
  color: #ff841f;
  font-size: 25;
  font-weight: 700;
}

.side-content a:hover {
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.about-content a {
  text-decoration: none!important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sigmar One', sans-serif;
  color: #133c3d;
}

/*---------------------------------------Section Gallery--------*/

.container-fluid.gallery {
  background-color: #f4f4f4;
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  padding: 15px;
  padding-top: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;

}


.download-img {
  color: #830118;


}

.gallery-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  padding-top: 4px;
}

.fas {
  color: #133c3d;
  font-size: 20px;
}

.fas:hover {
  color: #4d8384;
}

/*-----------------------------------------------Section Music---*/

.container-fluid.music {
  margin: auto;
  padding: 15px;

}

.side-content-music {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  padding: 15px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.music-content {

  border: 3px solid #a6c1c1;
  border-radius: 3px;
  text-align: center;
  padding-top: 20px;
  padding: 15px;
  background-color: #f4f4f4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rounded-circle {
  animation-play-state: paused;

}

.rounded-circle:hover {
  animation-play-state: running;
  animation: spin 7s infinite linear;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation: spin 7s infinite linear;
  -moz-animation: spin 7s infinite linear;
  -o-animation: spin 7s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


/*---.embed-responsive {
  display: flex;
  justify-content: center;
  align-items: center
}---*/


/*---.audio-controls{
  width: 75%;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #777777;
    background-color: #4d8384;
}
.audio-controls {
      display: inline-block;
    vertical-align: baseline;
    position: inherit;
}----*/

/*-------------------------------------------------Footer------*/

.container-fluid.footer {
  background-color: #4d8384;

}


.btn-link.footer {
  font-size: 30px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: auto;
  border-top: 0;
  text-align: center;
}

.text-uppercase.footer {
  font-family: 'Sigmar One', sans-serif;
  color: #133c3d;
  font-size: 20px;
  font-weight: 100;
  text-align: left;

  margin-top: 17px;
  margin-bottom: auto;
}

.fab {
  color: #133c3d;
  font-size: 40px;
  text-align: left;

  margin-top: 17px;
  margin-bottom: auto;
  margin-left: 10px;
}

.fab:hover {
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}





/*-------------------------------------------------------------Modal-------*/

.modal-dialog {
  border: 3px solid #2b3688;
  border-radius: 5px;

  padding: 5px;
  background-color: #ebf3f8;
}

.modal-content {
  background-color: #ebf3f8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}
