@import url('https://fonts.googleapis.com/css?family=Sigmar+One:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');



/*---------------------------------------Colors--------------*/

.navbar-expand-lg,
.container-fluid.footer {
  background-color: #4d8384;
}

.navbar-nav .nav-link.home {
  color: #830118;

}

.navbar-nav .nav-link.gallery {
  color: #ff841f;
}

.navbar-nav .nav-link.music {
  color: #5b2b84;
}

.navbar-nav .nav-link.contact {
  color: #c7cc28;
}

.btn-link, .fab {
  color: #e1ae0f;
}

.side-content-home,
.side-content-contact,

.modal-content{
  background-color: #e1eaea;
}

.about-content,
.music-content,
.contact-content,
.modal-dialog,
.container-fluid.gallery{
  background-color: #f4f4f4;
}

h4.contact {
  color: #24769e;
}

h5.contact {
  color: #ff841f;
}

.fa-calendar-check,
.fa-globe-americas,
.fa-music,
.gallery-content-p,
.download-img
 a {
  color: #24769e;
}

.fa-arrow-circle-down {
  color: #133c3d;

}

.side-content-music {
  background-color: #82a8a8;
}

.table-color-dark {
  background-color: #b9cece;
}

.card-header,
.card-footer {
  background-color: #82a8a8;
}

/*--------------------------------------- Special Paddings/Margins/Borders-------------*/
header {
  margin: 0;
}
.container-fluid.home.gallery.music.contac {
  margin: auto;
}

.about-content-home,
.side-content-home,
.side-content-music,
.music-content,
.container-fluid.gallery,
.side-content-contact,
.contact-content {
  border: 3px solid #a6c1c1;
  border-radius: 3px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Sigmar One', sans-serif;
  color: #133c3d;
}

.container-fluid.gallery,
.side-content-music,
.music-content,
.side-content-contact
{
padding-top: 20px;}
/*-------Header--------------------------------Navigation Bar------*/

.navbar-toggler {
  padding: 4px 12px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  border: 4px solid transparent;
  border-radius: 4px;
}

.navbar-toggler:hover {
  background-color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;

}



.d-inline-block-logo:hover {
  width: 260px;
  height: 105px;
  transition: width 1s, height 1s;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -o-transition: width 1s, height 1s;
}

.nav-link {
  font-family: 'Sigmar One', sans-serif;
  font-size: 27px;
  font-weight: 200;

}

.nav-link:hover {
  color: #d5d8ea !important;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


.btn-link {
  text-decoration: none !important;
  font-family: 'Sigmar One', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.btn-link:hover {
  text-decoration: none;
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.active {
  font-size: 30px;
  color: #ffffff !important;
}

.image-content {

  background: url('../images/collage_The_Monkees.jpg');
  background-repeat: repeat-x;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
}
/*---------------------------------------Section Home--------*/

.side-content-home {
  text-align: center;
}

.side-content-home p {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  padding-top: 20px;
  }


.text-justify {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding: 4px;
}

.side-content-home a {
  text-decoration: none!important;
  color: #24769e;
  font-size: 25px;
  font-weight: 700;
}

.side-content-home a:hover {
  color: #7bacc4;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.about-content-home a {
  text-decoration: none!important;
}




/*-------------------------------------------------Footer------*/

.btn-link.footer {
  font-size: 30px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: auto;
  text-align: center;
}

.text-uppercase.footer {
  font-family: 'Sigmar One', sans-serif;
  color: #133c3d;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  margin-top: 17px;
  margin-bottom: auto;
}

.fab {
  font-size: 40px;
  text-align: left;
  margin-top: 17px;
  margin-bottom: auto;
  margin-left: 10px;
}

.fab:hover {
  color: #d5d8ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}





/*-------------------------------------------------------------Modal-------*/

.modal-dialog {
  border: 3px solid #2b3688;
  border-radius: 5px;
  padding: 5px;
  }

.modal-content {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

/*---------------------------------------Section Gallery--------*/

.container-fluid.gallery {
  text-align: center;
  
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #133c3d;
  border-radius: 0.25rem;
  height: 270px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.img-thumbnail.top-row {
  height: 220px;
}

.gallery-content-p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-top: 4px;
}

.gallery-content {
  margin-bottom: 30px;
  margin-top: 10px;
}

.fa-arrow-circle-down {
  color: #133c3d;
  font-size: 25px;
}

.fas:hover {
  color: #4d8384;
}

/*-----------------------------------------------Section Music---*/



.side-content-music .heading {
  text-align: center;
  margin:auto;
  
}

.music-content {
 text-align: center;
}

.audio-content {
  padding-top: 60px;
}

.rounded-circle {
  animation-play-state: paused;
  padding-bottom: 5px;

}

.rounded-circle:hover {
  animation-play-state: running;
  animation: spin 7s infinite linear;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation: spin 7s infinite linear;
  -moz-animation: spin 7s infinite linear;
  -o-animation: spin 7s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-content {
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/*------------------------------------Section Music-Timeline-----------*/

.timeline {
  position: relative;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 50px;

}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  bottom: 80px;
  top: 65px;
  display: block;
  margin-left: 0;
  margin-right: 2px;
  left: 50%;
  padding-top: 0;

}

.container {

  padding: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  background-color: #b4caca;
  border: 3px solid white;
  border-radius: 20px;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 10px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid white;
  left: -2px;

  top: -3px;
  display: block;
  margin-left: -5px;
  z-index: 1;
}

.left {
  left: -24%;
}

.right {
  left: 25%;
}


.content {
  padding-left: 10px;
  background-color: transparent;
  position: relative;
  border-radius: 2px;

  font-family: 'Lato';
  font-weight: 600;
  font-size: 18px;


}

.timeline-content {
  padding: 0;
  margin: 0;

}

.left::after {
  left: 97%;
}

.left .content {
padding-right: 5px;
}

.right .content {
  text-align: right;
  padding-right: 20px;
}



/*-------------------------------------------------Section Contact----*/

.side-content-contact {
  text-align: center;
  }

.table {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  padding-top: 4px;
}
.fa-calendar-check,
.fa-globe-americas,
.fa-music {
  font-size: 30px;
}

.booking-form {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-top: 4px;
}

.form-group {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;

}

.btn-primary {
  color: #fff;
  background-color: #378a68;
  border-color: #95dcbf;
  margin: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #83d7b4;
  border-color: #2f7659;
}

.btn-secondary {

  background-color: #686d5c;
  border-color: #ced3c2;
  margin: 10px;
}

.btn-secondary:hover {

  background-color: #bec4ae;
  border-color: #686d5c;
}


/*----------------------Thank_you_Card------*/


.card-body,
.card-text {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}


/*---------------------------@media-----------*/

 @media (max-width:992px)  
   {.d-inline-block-logo {max-width:200px ;} 
   }

@media ( max-width:992px )  
   {.d-inline-block-logo { max-height:75px;}
   }
   
 @media (max-width:992px){
   .image-content {
     height: 200px;}
   
 }
  @media (max-width:992px) {
    .nav-link {font-size: 20px;}
  } 
  
  @media (max-width:992px){
    .d-inline-block-logo:hover {
  max-width: 205px;
  max-height: 80px;
  transition: max-width 1s, max-height 1s;
  -webkit-transition: max-width 1s, max-height 1s;
  -moz-transition: width 1s, height 1s;
  -o-transition: width 1s, height 1s;
}
  }
 @media (max-width:992px){ 
  .btn-link.footer {
  font-size: 20px;}}
  
  @media (max-width:992px) {.fab {
  font-size: 30px;}}
  
   @media (max-width:992px){.fab {margin-top: 10px;}}
   
   
  @media (max-width:992px){
  .text-uppercase.footer {
    margin-top:10px;}
  }
 @media (max-width:992px){
  .text-uppercase.footer {font-size:15px;}}
  
  @media (max-width:992px){.side-content-home p {
    font-size: 20px; font-weight:400;}
  } 